/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  padding: 0 50px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

/****** Card ***********/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color)
}

/***** AppBar *****/
.appBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

#logo {
  padding: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px 25px;
  height: 100%;
}

.menu__button {
  list-style-type: none;
  padding-top: 16px;
  margin: 0 35px;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: var(--main-bg-color);
}

.menu__button:hover,
.menu__button:active {
  border-color: var(--main-color);
}

.menu__button:hover a,
.menu__button:active a {
  color: var(--main-color);
}

/****** InfoGroup ******/
.infoGroup__filterBar,
.infoGroup__filterBar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  margin: 35px 0;
  gap: 15px;
}

.infoGroup__filterBar-button {
  border-radius: 25px;
  height: 50px;
  padding: 4px 19px;
  border: 2px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
  gap: 10px;
  background-color: #fff;
}

.infoGroup__filterBar-button:hover,
.infoGroup__filterBar-button.active {
  background: var(--filter-bg-color);
}

.infoGroup__infoBar {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.infoGroup__infoBar img {
  border-radius: 24px;
  border: 1px solid var(--main-bg-color);
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.infoGroup__header {
  margin-bottom: 0;
}

.infoGroup__text {
  margin-top: 8px;
  margin-bottom: 35px;
}

.infoGroup__searchBar {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 35px;
}

.infoGroup__searchBar .icon {
  /* section-title */
  display: flex;
  flex-direction: column;
  color: #000;
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  height: 49px;
  background: var(--main-bg-color);
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.infoGroup__searchBar-text {
  border: 1px solid;
  border-color: var(--main-bg-color);
  border-right-style: none;
  height: 47px;
  width: 195px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.infoGroup__searchBar-button {
  background-color: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: none;
  height: 49px;
  padding: 15px;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.infoGroup__searchBar--buttonIcon {
  display: none;
}

.infoGroup__infoBar--icon {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  padding: 30px;
}

.hebergements__header {
  /* section-title */
  margin: 0 0 30px;
  font-size: 22px;
}

.hebergements__container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements__container .card {
  width: 250px;
  height: 192px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.hebergements__container .card img {
  height: 114px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  align-self: center;
}

.hebergements__container .card .card-title {
  font-size: 16px;
  margin: 4px 0 0 15px;
}

.hebergements__container .card .text {
  font-size: 16px;
  margin: 8px 0 8px 15px;
}

.hebergements__container .card .note {
  margin: 0 0 0 15px;
}

.hebergements__footer {
  margin: 0;
  font-size: 18px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ******/
.activities {
  padding: 30px;
}

.activities__header {
  /* section-title */
  font-size: 22px;
  margin-bottom: 30px;
}

.activities__container {
  display: flex;
  justify-content: space-between;
}

.activities__container-card {
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities__container-cardPhoto {
  height: 380px;
  width: 297.5px;
  border-radius: 20px 20px 0px 0px;
}

.activities__container-cardText {
  font-size: 16px;
  margin: 20px 19px;
}

/****** Footer ******/
.footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer__column-header {
  margin: 0;
}

.footer__column-link {
  margin-top: 15px;
}

/****** Media queries ***********/
@media (max-width: 1024px) {
  .infoGroup__filterBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
  }
  
  .infoGroup__filterBar-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  .infoGroup__filterBar-header {
    margin-bottom: 26px;
    margin: 0;
    padding: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }
  
  .hebergements {
    width: 100%;
  }
  
  .populaires {
    width: 100%;
    margin-top: 50px;
  }
  
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .populaires-cards .card {
    width: 30%;
  }
  
  .populaires-cards .card-title {
    font-size: 14px;
  }
  
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  
  .activities__container-card,
  .activities__container-cardPhoto {
    width: 194px;
  }
  
  .activities__container-cardPhoto {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.97px) {
  .appBar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 0;
    height: 115px;
  }
  
  .menu {
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
    
    align-items: stretch;
  }
  
  .menu__button {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0px 20px 15px;
    margin: 0;
    border-top-style: none;
    border-bottom-style: solid;
    border-top-width: 0;
    border-bottom-width: 2px;
    align-items: stretch;
  }

  main {
    padding: 0;
  }

  .infoGroup__filterBar {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
  }
  
  .infoGroup__filterBar-header {
    height: 100%;
  }
  
  .infoGroup__filterBar-container {
    width: calc(100% - 10px);
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    column-gap: 10px;
  }
  
  .infoGroup__filterBar-button {
    font-size: 14px;
    justify-content: flex-start;
  }
  
  .infoGroup {
    padding: 0px 20px;
    margin-top: 0;
  }
  
  /* .infoGroup .section-title {
    margin-top: 0;
  } */
  
  .infoGroup__searchBar {
    display: flex;
    width: calc(100% + 30px);
  }
  
  .infoGroup__searchBar-text {
    width: 100%;
    text-align: start;
    padding-left: 24px;
  }
  
  .infoGroup__searchBar-button {
    border-radius: 15px;
    position: relative;
    left: -30px;
  }
  
  .infoGroup__searchBar-buttonText {
    display: none;
  }
  
  .infoGroup__searchBar-buttonIcon {
    display: inline;
  }
  
  .populaires {
    order: -1;
    margin-top: 0;
    background-color: var(--main-bg-color);
    border-radius: 0px !important;
    padding: 30px 20px !important;
  }
  
  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 300px !important;
  }
  
  .hebergements {
    background-color: #fff !important;
    padding: 20px !important;
  }
  
  .hebergements__container-card {
    width: 100%;
  }
  
  .activities__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .activities__container-card {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .activities__container-card img {
    width: 100%;
  }
  
  .footer {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
  }
  
  .footer__column {
    padding: 0;
  }
}