/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  padding: 0 50px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

/****** Card ***********/
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color)
}

/***** AppBar *****/
.appBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

#logo {
  padding: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px 25px;
  height: 100%;
}

.menu .button {
  display: flex;
  list-style-type: none;
  padding-top: 16px;
  margin: 0 35px;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: var(--main-bg-color);
}

.menu .button:hover,
.menu .button:active {
  border-color: var(--main-color);
}

.menu .button:hover a,
.menu .button:active a {
  color: var(--main-color);
}

/****** InfoGroup ******/
.infoGroup .text {
  margin-top: 8px;
  margin-bottom: 35px;
}

.infoGroup .searchBar {
  display: grid;
  grid-template-columns: 50px 195px 130px;
  grid-template-rows: 50px;
  height: 50px;
  margin-bottom: 35px;
}

.infoGroup .searchBar .icon {
  color: #000;
  border-radius: 15px 0px 0px 15px;
  background: var(--main-bg-color);
  padding: 14px;
  font-size: 22px;
}

.infoGroup .searchBar .text {
  border: 1px solid var(--main-bg-color);
  border-right-style: none;
  box-sizing: border-box;
  height: 50px;
  width: 195px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: center;
  margin: 0;
}

.infoGroup .searchBar .button {
  background-color: var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: none;
  padding: 15px;
  box-sizing: border-box;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.infoGroup .searchBar .buttonIcon {
  display: none;
}

.infoGroup .filterBar,
.infoGroup .filterBar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  font-weight: 700;
  margin: 35px 0;
  gap: 15px;
}

.infoGroup .filterBar-button {
  border-radius: 25px;
  height: 50px;
  padding: 4px 19px;
  border: 2px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  background-color: #fff;
}

.infoGroup .filterBar-button:hover {
  background: var(--filter-bg-color);
}

.infoGroup .infoBar {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.infoGroup .infoBar i {
  border-radius: 25px;
  border: 1px solid var(--main-bg-color);
  padding: 7.5px 10.625px;
  font-size: 10px;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color);
  width: 65%;
  padding: 30px;
}

.hebergements .section-title {
  margin: 0 0 30px;
}

.hebergements .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements .container .card {
  width: 250px;
  height: 192px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.hebergements .container .card img {
  height: 114px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  align-self: center;
}

.hebergements .container .card .card-title {
  margin: 4px 0 0 15px;
}

.hebergements .container .card .text {
  font-size: 16px;
  margin: 8px 0 8px 15px;
}

.hebergements .container .card .note {
  margin: 0 0 0 15px;
}

.hebergements .footer {
  margin: 0;
  font-size: 18px;
}

/****** Populaires ***********/
.populaires {
  background-color: var(--main-bg-color);
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ******/
.activities {
  padding: 30px;
}

.activities .section-title {
  margin-bottom: 30px;
}

.activities .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.activities .container .card {
  align-self: stretch;
  padding: 0px;
}

.activities .container .card img {
  height: 380px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.activities .container .card h2 {
  font-size: 16px;
  margin: 20px 19px;
}

/****** Footer ******/
.footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 50px;
}

.footer .column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer .link {
  margin-top: 15px;
}

/****** Media queries ***********/
/* tablet */
@media (max-width: 1024px) {
  .infoGroup .filterBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
  }
  
  .infoGroup .filterBar-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  .infoGroup .filterBar-header {
    margin-bottom: 26px;
    margin: 0;
    padding: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }
  
  .hebergements {
    width: 100%;
  }
  
  .populaires {
    width: 100%;
    margin-top: 50px;
  }
  
  .populaires-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .populaires-cards .card {
    width: 30%;
  }
  
  .populaires-cards .card-title {
    font-size: 14px;
  }
  
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  
  .activities .container .card,
  .activities .container .card img {
    width: 100%;
  }
  
  .activities .container .card img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.97px) {
  .appBar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 0;
    height: 115px;
  }
  
  .menu {
    align-content: center;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
  }
  
  .menu .button {
    justify-content: center;
    flex: 1;
    padding: 0px 20px 15px;
    margin: 0;
    border-top-style: none;
    border-bottom-style: solid;
    border-top-width: 0;
    border-bottom-width: 2px;
    align-items: stretch;
  }

  main {
    padding: 0;
  }

  .infoGroup {
    padding: 0px 20px;
    margin-top: 0;
  }
  
  .infoGroup .searchBar {
    grid-template-columns: 49px 1fr 49px;
  }
  
  .infoGroup .searchBar .text {
    width: 106%;
    text-align: start;
    padding-left: 24px;
    grid-column: 2 / 3;
    margin: 0;
  }
  
  .infoGroup .searchBar .button {
    border-radius: 15px;
    z-index: 1;
  }
  
  .infoGroup .searchBar .buttonText {
    display: none;
  }
  
  .infoGroup .searchBar .buttonIcon {
    display: inline;
  }

  .infoGroup .filterBar {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
  }
  
  .infoGroup .filterBar-header {
    height: 100%;
  }
  
  .infoGroup .filterBar-container {
    flex-wrap: wrap;
    height: 100%;
  }
  
  .infoGroup .filterBar-button {
    width: 47.5%;
    font-size: 14px;
    justify-content: flex-start;
  }
  
  .populaires {
    order: -1;
    margin-top: 0;
    background-color: var(--main-bg-color);
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding: 20px;
  }
  
  .populaires-cards {
    flex-direction: column;
    align-items: center;
  }
  
  .populaires-cards .card {
    box-sizing: border-box;
  }

  .populaires-cards .card,
  .card {
    width: 100%;
  }
  
  .hebergements {
    background-color: #fff;
  }
  
  .hebergements .container .card {
    width: 100%;
    margin: 15px 0;
  }

  .hebergements .footer {
    background: #FFF;
    padding: 0;
  }
  
  .activities .container {
    grid-template-columns: 100%;
  }
  
  .activities .container .card {
    margin: 0 0 15px;
  }
    
  .footer {
    margin: 30px 0 0 0;
    grid-template-columns: 100%;
    padding: 30px;
    gap: 50px;
  }
  
  .footer .column {
    padding: 0;
  }
}