.appBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.875rem;
}
    #logo {
        margin: 1.875rem;
    }

    .menu{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }