.appBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.875rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
    #logo {
        padding: 1.875rem;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding-bottom: 25px;
    }

        .menu__button {
            margin-left: 25px;
            margin-right: 25px;
        }
