.footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 50px;
}

  .footer__column {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

    .footer__column-header {
      margin: 0;
    }

    .footer__column-link {
      margin-top: 15px;
    }