
.infoGroup__header{
  margin-bottom: 0;
}

.infoGroup__text{
  margin-top:     8px;
  margin-bottom:  35px;
}

.infoGroup__searchBar {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 35px;
}
  .infoGroup__searchBar-icon {
    color: #000;
    width: 50px;
    border-top-left-radius:     15px;
    border-bottom-left-radius:  15px;
    height: 49px;
    background: var(--main-bg-color);
  }

  .infoGroup__searchBar-text {
    border: 1px solid;
    border-color: var(--main-bg-color);
    height: 47px;
    width:  195px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }

  .infoGroup__searchBar-button {
    background-color: var(--main-color);
    border-top-right-radius:    15px;
    border-bottom-right-radius: 15px;
    border-style: none;
    height: 49px;
    padding: 15px;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 18px;
    font-weight: 700; 
  }

    .infoGroup__searchBar-buttonIcon {
      display: none;
    }

@media (max-width: 768px) {
  .infoGroup {
    padding: 0px 20px;
    margin-top: 0;
  }

    .infoGroup__header {
      margin-top: 0;
      font-size: 22px;
    }

    .infoGroup__searchBar {
      display: flex;
      width: 100%;
    }

      .infoGroup__searchBar-text {
        border-right-style: none;
        width: 100%;
      }

        .infoGroup__searchBar-button {
          border-radius: 15px;
        }

          .infoGroup__searchBar-buttonText {
            display: none;
          }
          
          .infoGroup__searchBar-buttonIcon {
            display: inline;
          }
}